services:
  jogak_backend_app:
    image: mallangc/tocktock-backend:1.0.1
    container_name: tocktock-backend
    restart: always
    environment:
      TZ: Asia/Seoul
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      JAVA_OPTS: "-Xmx512m"
    ports:
      - "8080:8080"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "1"
    deploy:
      resources:
        limits:
          memory: 600m
    cpus: 0.5
    depends_on:
      - redis

  redis:
    image: redis:latest
    container_name: tocktock-redis
    ports:
      - "6379:6379"
    environment:
      TZ: Asia/Seoul